$container-bg: #f8f8f8;
$font-main-color: #303133;
$panel-bg: #fff;
$active-color: var(--adm-color-primary);
$font-info-color: #999;
$font-sec-color: #666;
$font-white-color: #fff;
$waring-color: var(--adm-color-warning);
$border-color: var(--adm-color-border);
